@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	overflow-x: hidden;
}

.scrollbar-track-rounded::-webkit-scrollbar-track {
	border-radius: 999px;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
	border-radius: 999px;
}

.animation-hover:after {
	background: none repeat scroll 0 0 transparent;
	content: "";
	height: 2px;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	@apply w-0 bg-orange-500 left-1/2 block bottom-0 absolute;
}
.animation-active:after {
	@apply left-0 w-full;
}
.animation-hover:hover:after {
	@apply left-0 w-full;
}

#home {
	width: 100%;
	height: 100vh;
	max-height: 900px;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url(../public/rings-bg.svg);
}

.home_spotlight {
	background: radial-gradient(
		50% 50% at 50% 50%,
		rgb(255, 255, 255) 0,
		hsla(0, 0%, 100%, 0) 100%
	);
	opacity: 0.06;
	transform: rotate(45deg);
	width: 100%;
	top: -80px;
	max-width: 1800px;
}

.home_spotlight {
	pointer-events: none;
	position: absolute;
	height: 100%;
}

#pattern {
	width: 100%;
	height: 100vh;
	max-height: 900px;
	background-size: cover;
	position: relative;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 500px),
		fixed 0 0 / 20px 20px radial-gradient(#313131 1px, transparent 0),
		fixed 10px 10px / 20px 20px radial-gradient(#313131 1px, transparent 0);
}

#title {
	background: linear-gradient(
			0deg,
			hsla(0, 0%, 10%, 0.2) 0,
			#000 min(150vw, 800px)
		),
		fixed
			repeating-radial-gradient(
				circle at 50% min(calc(50vw + 3.5rem), calc(300px + 5rem)),
				#050505 0,
				#000 70px
			);
}

#grid {
	width: 100vw;
	position: relative;
	height: 100vh;
	max-height: 700px;
	overflow: hidden;
	background-image: url(../public/grid.svg);
}

#grid:after,
#grid:before {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	height: 30vh;
	max-height: 400px;
	pointer-events: none;
}

#grid:before {
	top: 0;
	z-index: 0;
	background: linear-gradient(180deg, #000, transparent);
}

#grid:after {
	bottom: 0;
	z-index: 0;
	background: linear-gradient(0deg, #000, transparent);
}

.grid-radial {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: radial-gradient(circle, transparent 0, #000 100%);
	pointer-events: none;
	z-index: 10;
}

.resources_blob {
	width: 1000px;
	height: 1000px;
	background: radial-gradient(
		circle,
		hsla(0, 0%, 100%, 0.1) 0,
		rgba(161, 252, 70, 0) 50%
	);
	opacity: 1;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50px);
	filter: blur(0);
	border-radius: 9999px;
}

#galeri {
	position: relative;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url(../public/a.avif);
}

#galeri:after,
#galeri:before {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	height: 30vh;
	max-height: 400px;
	pointer-events: none;
}

#galeri:before {
	bottom: 0;
	z-index: 0;
	background: linear-gradient(0deg, #000, transparent);
}

#galeri:before {
	top: 0;
	z-index: 0;
	background: linear-gradient(180deg, #000, transparent);
}

#union {
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url(../public/union.svg);
}

#gridd {
	position: relative;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url(../public/gridd.webp);
}

#gridd-bg,
.gridd-bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url(../public/gridd-bg.svg);
}

.zoom-in-out-box {
	position: absolute;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: 50%;
	background-image: url(../public/gridd-bg.svg);
	animation: zoom-in-zoom-out 2s ease infinite;
}

@keyframes zoom-in-zoom-out {
	0% {
		transform: scale(0.7);
	}
	50% {
		transform: scale(0.8);
	}
	100% {
		transform: scale(0.9);
	}
}

.container {
	position: absolute;
	z-index: -6;
	inset: 0;
	transition: perspective 3000ms ease 0s;
}

.lines {
	--right: #00abfa;
	--left: #ffd000;
	position: absolute;
	width: 190vw;
	margin-left: -50%;
	transform: translateY(0);
	background-image: linear-gradient(
		to right,
		var(--left) 45%,
		/* rgba(0, 0, 0, 0) 50%, */ 
		var(--right) 55%
	);
	mask-image: linear-gradient(
			to right,
			rgba(0, 0, 0, 1) 2px,
			rgba(0, 0, 0, 0) 1px
		),
		linear-gradient(to bottom, rgba(0, 0, 0, 1) 2px, rgba(0, 0, 0, 0) 1px);
	mask-size: 60px 60px;
	overflow: hidden;
	mask-repeat: repeat repeat;
	display: flex;
	align-items: center;
	justify-content: center;
	inset: -100% 0px;
	background-position-y: 100%;
	mask-position: 50% 0px;
	animation: go-up 60s linear infinite;
}


@media (min-width: 1024px) {
  .lines {
    animation-duration: 30s;
    mask-size: 80px 80px;
  }
}

:global(.dark) .lines {
  --right: #4c2638;
  --left: #223b67;
}

@keyframes go-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(50% + 28px));
  }
}

.pulse::before {
  content: "";
  position: absolute;
  inset: 0px;
  animation: pulse-frames ease-out 8s infinite;
  animation-delay: 0s;
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      to top,
      rgba(0, 0, 0, 0) 45%,
      var(--pulse-color) 50%,
      rgba(0, 0, 0, 0) 90%
    )
    no-repeat;
  z-index: 211;
  animation-delay: var(--delay);
}

@keyframes pulse-frames {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(200%);
  }
}

@media (prefers-reduced-motion) {
  .lines {
    animation: none;
  }
  .pulse::before {
    animation: none;
  }
}

@media (prefers-reduced-motion) {
  .lines {
    animation: none;
  }
  .pulse::before {
    animation: none;
  }
}
